<head>
<style>
        .vertical {
            border-left: 3px solid #808080;
            height: 200px;
            position:absolute;
            left: 50%;
        }
    </style>
</head>


<div style="height: 300px; background-color: #808080;">
    <p> this section will contain a slider having two most visited posts </p>
</div>
<div style="margin-top: 20px; height: 400px;">
    <div style="width: 30%;float:left;">
        editor's pick posts
    </div>
    <div class = "vertical"></div>

    <div  style="width: 20%;float:left;">
        latest 3 posts
    </div>
    <div class = "vertical"></div>

    <div  style="width: 50%;float:left;">
        Trending Posts
    </div>
</div>

<div style="height: 400px;">
        there will be promoted/paid post
</div>

<div style="margin-top: 20px; height: 400px;">

    <div style="width: 50%;float:left;">
        Politics posts
    </div>

    <div  style="width: 50%;float:right;">
        Business posts
    </div>

</div>

<div style="margin-top: 20px; height: 400px;">

    <div style="width: 50%;float:left;">
        Recent News
        posts with pics
    </div>

    <div  style="width: 50%;float:right;">
        Popular posts
    </div>

</div>

<div>
there will be footer
</div>